body {
	margin: 0;
	padding: 0;
	border: none;
	background: #000000;
}
.label {
	text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
}

#screen {
	position: absolute;
	width: 800px;
	height: 480px;
	background: #ffffff;
	margin: auto;
}

#bottomline {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 15%;
}

#tabselbox {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 85%;
	height: 100%;
	background: #aaaaaa;
}
.tabsel {
	height: 100%;
	width: 33%;
	float: left;
}
.tabsel1 {
	background: #aaeecc;
}
.tabsel1active {
	background: #88ccaa;
}
.tabsel2 {
	background: #ccaaee;
}
.tabsel2active {
	background: #aa88cc;
}
.tabsel3 {
	background: #eeaacc;
}
.tabsel3active {
	background: #cc88aa;
}
.tabind {
	position: relative;
	top: 0px;
	height: 5px;
	width: 100%;
	background: #eeeeee;
}
.tabind1active {
	background: #446655;
}
.tabind2active {
	background: #554466;
}
.tabind3active {
	background: #665544;
}

#statusbox {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 16%;
	height: 100%;
	background: #888888;
	color: #ffffff;
}

.tab {
	height: 85%;
	width: 100%;
}
.cell {
	text-align: center;
	vertical-align: middle;
  user-select: none;
}
.cellactive {
	background: #aabbbb;
}
.table {
	height: 100%;
	width: 100%;
}

.t1row {
	height: 33.33%;
}
.t1cell {
	width: 20%;
}
.t1pep1 {
	background: #eeeeff;
}
.t1pep2 {
	background: #eeffee;
}

.t2row {
	height: 33.33%;
}
.t2cell {
	width: 20%;
}
.t2pep1 {
	background: #aaeeff;
}
.t2pep2 {
	background: #aaffee;
}

.t3row {
	height: 33.33%;
}
.t3cell {
	width: 25%;
}
.t3pep1 {
	background: #ffeecc;
}
.t3pep2 {
	background: #ffccee;
}
